<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{fragment :: meta}"></div>
    <div th:replace="~{fragment :: styles}"></div>
    <title>配車一覧(配車係)</title>
</head>
<body>
    <div class="haisya-wrapper admin-rides-index-wrapper">
      <div th:replace="~{fragment :: header}"></div>
      <main>
        
        <div class="haisya-container admin-rides-index-container">
          <nav class="my-2 pb-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a th:href="@{/admin/top}">TOP</a></li>
              <li class="breadcrumb-item active" aria-current="page">配車一覧</li>
              <li class="breadcrumb-item"><a th:href="@{/admin/rides/register}">配車登録</a></li>
            </ol>
          </nav>
          <form method="get" th:action="@{/admin/rides}" class="mb-3 px-1">
            <div class="input-group">
              <input type="date" name="date" class="form-control mx-0" placeholder="日付" th:value="${date}">
              <button type="submit" class="btn btn-primary small-button py-0 px-3 mb-2">検索</button>
            </div>
          </form>
          
          <h1>配車一覧</h1>

          <div th:if="${successMessage}" class="alert alert-info py-1">
            <span th:text="${successMessage}"></span>
          </div>

          <div th:if="${errorMessage}" class="alert alert-danger py-1">
            <span th:text="${errorMessage}"></span>
          </div>

          <table class="haisya-table" >
            <thead>
              <tr><th>日付</th></tr>
            </thead>
            <tbody>
              <tr th:each="ride : ${ridePage}">
                <td>
                  <a th:href="@{/admin/rides/__${ride.id}__}" th:text="${ride.date}"></a>
                </td>
                <td>
                  <a th:href="@{/admin/rides/__${ride.id}__/edit}" class="btn btn-primary my-1  mx-3 py-1 small-button">編集</a>
                  <a href="#" class="btn btn-danger my-1 py-1 small-button" data-bs-toggle="modal" th:data-bs-target="${'#deleteRideModal' + ride.id}">削除</a>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- ページネーション -->
          <div th:if="${ridePage.getTotalPages() > 1}" class="d-flex justify-content-center mt-3">
            <nav aria-label="配車一覧ページ">
                <ul class="pagination">
                    <li class="page-item">
                        <span th:if="${ridePage.isFirst()}" class="page-link disabled">‹</span>
                        <a th:unless="${ridePage.isFirst()}" th:href="@{/admin/rides(page = ${ridePage.getNumber() - 1})}" class="page-link haisya-page-link">‹</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(0, ridePage.getTotalPages() - 1)}" class="page-item">
                        <span th:if="${i == ridePage.getNumber()}" class="page-link active haisya-active" th:text="${i + 1}"></span>
                        <a th:unless="${i == ridePage.getNumber()}" th:href="@{/admin/rides(page = ${i})}" class="page-link haisya-page-link" th:text="${i + 1}"></a>
                    </li>
                    <li class="page-item">
                        <span th:if="${ridePage.isLast()}" class="page-link disabled">›</span>
                        <a th:unless="${ridePage.isLast()}" th:href="@{/admin/rides(page = ${ridePage.getNumber() + 1})}" class="page-link haisya-page-link">›</a>
                    </li>
                </ul>
            </nav>
        </div>
      </main>
    </div>

    <div th:replace="~{fragment :: scripts}"></div>

    <!-- 削除用モーダル -->
    <th:block th:each="ride : ${ridePage}">
      <div class="modal fade" th:id="${'deleteRideModal' + ride.id}" tabindex="-1" th:aria-labelledby="${'deleteRideModalLabel' + ride.id}" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" th:id="${'deleteRideModalLabel' + ride.id}" th:text="'削除しますか？'"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
            </div>
            <div class="modal-footer">
              <form method="post" th:action="@{/admin/rides/__${ride.id}__/delete}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit" class="btn btn-danger text-white">削除</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </th:block>
  </body>
</html>