<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{fragment :: meta}"></div>
    <div th:replace="~{fragment :: styles}"></div>
    <title>配車係ログイン</title>
</head>
<body>
    <div class="haisya-wrapper login-page">
        <div class="haisya-container">
            <form action="@{/login}" method="post" class="login-form">
                <h1>ログイン画面</h1>

                <div>
                    <input type="text" name="username" placeholder="username">
                </div>
                <div>
                    <input type="password" name="password" placeholder="password">
                </div>
                
                <button type="submit">ログイン</button>
            </form>
        </div>
    </div>

    <div th:replace="~{fragment :: scripts}"></div>
</body>
</html>