<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{fragment :: meta}"></div>
    <div th:replace="~{fragment :: styles}"></div>
    <title>メンバー編集</title>
</head>
<body>
    <div class="haisya-wrapper admin-members-edit-wrapper">
        <div th:replace="~{fragment :: header}"></div>
        <div class="haisya-container admin-members-edit-container">
            <nav class="my-2 pb-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a th:href="@{/admin/top}">TOP</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/admin/members}">メンバー一覧</a></li>
                    <li class="breadcrumb-item active" aria-current="page">メンバー編集</li>
                </ol>
            </nav>
            <h1>メンバー編集</h1>
            <form th:action="@{/admin/members/{id}/update(id=${member.id})}" method="post" th:object="${memberEditForm}" class="edit-form">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <!-- 名前 -->
                <div class="form-group row mb-3">
                    <div class="col-md-5">
                        <label class="col-form-label text-md-left fw-bold">
                            <div class="d-flex align-items-center">
                                <span>名前</span>
                                <span class="badge bg-danger">必須</span>
                            </div>
                        </label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="保護者名を入力">
                        <div th:if="${#fields.hasErrors('name')}" class="form-error text-danger small mb-2" th:errors="*{name}"></div>
                    </div>
                </div>

                <!-- 子供の名前 -->
                <div th:each="child : *{children}" class="form-group row mb-3">
                    <div class="col-md-5">
                        <label class="col-form-label text-md-left fw-bold">
                            <div class="d-flex align-items-center">
                                <span>子供の名前</span>
                                <span class="badge bg-danger" th:if="${childStat.first}">必須</span>
                            </div>
                        </label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" class="form-control" th:field="*{children[__${childStat.index}__].name}" placeholder="子供の名前を入力">
                        <div th:if="${#fields.hasErrors('children[__${childStat.index}__].name')}" class="form-error text-danger small mb-2" th:errors="*{children[__${childStat.index}__].name}"></div>
                    </div>
                </div>

                </div>

                <div class="text-center mt-4">
                    <button type="submit" class="btn haisya-btn">更新</button>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="~{fragment :: scripts}"></div>
</body>
</html>