<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{fragment :: meta}"></div>
    <div th:replace="~{fragment :: styles}"></div>
    <title>メンバー一覧</title>
</head>
<body>
    <div class="haisya-wrapper admin-members-index-wrapper">
      <main>
        <div th:replace="~{fragment :: header}"></div>
        <!-- 削除用モーダル -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
              </div>
              <div class="modal-footer">
                <form method="post" action="" name="deleteForm">
                  <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                  <button type="submit" class="btn btn-danger">削除</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="haisya-container admin-members-index-container">
          <nav class="my-2 pb-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a th:href="@{/admin/top}">TOP</a></li>
              <li class="breadcrumb-item active" aria-current="page">メンバー一覧</li>
              <li class="breadcrumb-item"><a th:href="@{/admin/members/register}">メンバー登録</a></li>
            </ol>
          </nav>
          
          <h1>メンバー一覧</h1>

          <table class="haisya-table" >
            <thead>
              <tr><th>名前</th></tr>
            </thead>
            <tbody>
              <tr th:each="ride : ${ridePage}">
                <td>
                  <a th:href="@{/admin/members/__${member.id}__}" th:text="${member.name}"></a>
                </td>
                <td>
                  <a th:href="@{/admin/members/{id}(id=${member.id})/edit}" class="btn btn-primary">編集</a>
                  <a href="#" class="btn btn-danger" th:attr="data-bs-toggle='modal', data-bs-target='#deleteModal', data-action='/admin/rides/' + ${ride.id}">削除</a>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- ページネーション -->
          <div th:if="${memberPage.getTotalPages() > 1}" class="d-flex justify-content-center">
            <nav aria-label="メンバー一覧ページ">
                <ul class="pagination">
                    <li class="page-item">
                        <span th:if="${memberPage.isFirst()}" class="page-link disabled">‹</span>
                        <a th:unless="${memberPage.isFirst()}" th:href="@{/admin/members(page = ${memberPage.getNumber() - 1})}" class="page-link nagoyameshi-page-link">‹</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(0, memberPage.getTotalPages() - 1)}" class="page-item">
                        <span th:if="${i == memberPage.getNumber()}" class="page-link active nagoyameshi-active" th:text="${i + 1}"></span>
                        <a th:unless="${i == memberPage.getNumber()}" th:href="@{/admin/members(page = ${i})}" class="page-link nagoyameshi-page-link" th:text="${i + 1}"></a>
                    </li>
                    <li class="page-item">
                        <span th:if="${memberPage.isLast()}" class="page-link disabled">›</span>
                        <a th:unless="${memberPage.isLast()}" th:href="@{/admin/members(page = ${memberPage.getNumber() + 1})}" class="page-link nagoyameshi-page-link">›</a>
                    </li>
                </ul>
            </nav>
        </div>
        </div>
      </main>
    </div>
        </div>
    </div>

    <div th:replace="~{fragment :: scripts}"></div>
</body>
</html>