<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{fragment :: meta}"></div>
    <div th:replace="~{fragment :: styles}"></div>
    <title>メンバー一覧</title>
</head>
<body>
    <div class="haisya-wrapper admin-members-index-wrapper">
      <main>
        <div th:replace="~{fragment :: header}"></div>
        

        <div class="haisya-container admin-members-index-container">
          <nav class="my-2 pb-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a th:href="@{/admin/top}">TOP</a></li>
              <li class="breadcrumb-item active" aria-current="page">メンバー一覧</li>
              <li class="breadcrumb-item"><a th:href="@{/admin/members/register}">メンバー登録</a></li>
            </ol>
          </nav>
          <form method="get" th:action="@{/admin/members}" class="mb-3 px-1">
            <div class="input-group">
              <input type="text" name="keyword" class="form-control mx-0" placeholder="名前" th:value="${keyword}">
              <button type="submit" class="btn btn-primary small-button py-0 px-3 mb-2">検索</button>
            </div>
          </form>
          
          <h1>メンバー一覧</h1>

          <div th:if="${successMessage}" class="alert alert-info py-1">
            <span th:text="${successMessage}"></span>
          </div>

          <div th:if="${errorMessage}" class="alert alert-danger py-1">
            <span th:text="${errorMessage}"></span>
          </div>

          <table class="haisya-table" >
            <thead>
              <tr><th></th></tr>
            </thead>
            <tbody>
              <tr th:each="member : ${memberPage}">
                <td>
                  <a th:href="@{/admin/members/__${member.id}__}" th:text="${member.name}" class="haisya-member-name"></a>
                </td>
                <td>
                  <a th:href="@{/admin/members/__${member.id}__/edit}" class="btn btn-primary my-1  mx-5 py-1 small-button">編集</a>
                  <a href="#" class="btn btn-danger my-1 py-1 small-button" data-bs-toggle="modal" th:data-bs-target="${'#deleteMemberModal' + member.id}">削除</a>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- ページネーション -->
          <div th:if="${memberPage.getTotalPages() > 1}" class="d-flex justify-content-center">
            <nav aria-label="メンバー一覧ページ">
                <ul class="pagination">
                    <li class="page-item">
                        <span th:if="${memberPage.isFirst()}" class="page-link disabled">‹</span>
                        <a th:unless="${memberPage.isFirst()}" th:href="@{/admin/members(page = ${memberPage.getNumber() - 1})}" class="page-link haisya-page-link">‹</a>
                    </li>
                    <li th:each="i : ${#numbers.sequence(0, memberPage.getTotalPages() - 1)}" class="page-item">
                        <span th:if="${i == memberPage.getNumber()}" class="page-link active haisya-active" th:text="${i + 1}"></span>
                        <a th:unless="${i == memberPage.getNumber()}" th:href="@{/admin/members(page = ${i})}" class="page-link haisya-page-link" th:text="${i + 1}"></a>
                    </li>
                    <li class="page-item">
                        <span th:if="${memberPage.isLast()}" class="page-link disabled">›</span>
                        <a th:unless="${memberPage.isLast()}" th:href="@{/admin/members(page = ${memberPage.getNumber() + 1})}" class="page-link haisya-page-link">›</a>
                    </li>
                </ul>
            </nav>
        </div>
        </div>
      </main>
    </div>
        </div>
    </div>

    <div th:replace="~{fragment :: scripts}"></div>
    <!-- 削除用モーダル -->
    <th:block th:each="member : ${memberPage}">
      <div class="modal fade" th:id="${'deleteMemberModal' + member.id}" tabindex="-1" th:aria-labelledby="${'deleteMemberModalLabel' + member.id}" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" th:id="${'deleteMemberModalLabel' + member.id}" th:text="'削除しますか？'"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
            </div>
            <div class="modal-footer">
              <form method="post" th:action="@{/admin/members/__${member.id}__/delete}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit" class="btn btn-danger text-white">削除</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </th:block>
</body>
</html>