<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <!-- meta要素の部品化 -->
        <div th:fragment="meta" th:remove="tag">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        </div>

        <!-- link要素の部品化 -->
        <div th:fragment="styles" th:remove="tag">
            <!-- Bootstrap -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

            <!-- Google Fonts -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet">

            <!-- CSSファイル -->
            <link th:href="@{/css/style.css}" rel="stylesheet" >
        </div>

    <title>部品化用のHTMLファイル</title>
    </head>
    <body>
        <!-- ヘッダーの部品化 -->
        <div th:fragment="header" th:remove="tag">
            <header>
                <nav class="navbar navbar-expand-lg navbar-light haisya-navbar">
                        <a class="navbar-brand" th:href="@{/admin/top}">Haisya Manager</a>

                        <!-- ログイン済みであれば表示する -->
                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <a class="haisya-logout-button" th:href="@{/logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                                ログアウト
                            </a>
                            <form id="logout-form" class="d-none" th:action="@{/logout}" method="post"></form>
                        </div>
                </nav>
            </header>
        </div>

        <!-- script要素の部品化 -->
        <div th:fragment="scripts" th:remove="tag">
            <!-- Bootstrap -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
            <script th:src="@{/js/haisya-modal.js}"></script>
        </div>
    </body>
</html>