<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{fragment :: meta}"></div>
    <div th:replace="~{fragment :: styles}"></div>
    <title>配車係ログイン</title>
</head>
<body>
    <div class="haisya-wrapper register-page">
        <div class="haisya-container register-container">
            <form th:action="@{/register}" method="post" th:object="${registerForm}" class="register-form">
                <h1>新規チーム登録</h1>

                <!-- ユーザー名 -->
                <div class="form-group row mb-3">
                    <div class="col-md-5">
                        <label class="col-form-label text-md-left fw-bold">
                            <div class="d-flex align-items-center">
                                <span>ユーザー名</span>
                                <span class="badge bg-danger">必須</span>
                            </div>
                        </label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" th:field="*{username}" class="form-control" placeholder="ユーザー名">
                        <div th:if="${#fields.hasErrors('username')}" class="form-error text-danger small mb-2" th:errors="*{username}"></div>
                    </div>
                </div>

                <!-- チーム名 -->
                <div class="form-group row mb-3">
                    <div class="col-md-5">
                        <label class="col-form-label text-md-left fw-bold">
                            <div class="d-flex align-items-center">
                                <span>チーム名</span>
                                <span class="badge bg-danger">必須</span>
                            </div>
                        </label>
                    </div>
                    <div class="col-md-7">
                        <input type="text" th:field="*{teamName}" class="form-control" placeholder="チーム名">
                        <div th:if="${#fields.hasErrors('teamName')}" class="form-error text-danger small mb-2" th:errors="*{teamName}"></div>
                    </div>
                </div>

                <!-- パスワード -->
                <div class="form-group row mb-3">
                    <div class="col-md-5">
                        <label class="col-form-label text-md-left fw-bold">
                            <div class="d-flex align-items-center">
                                <span>パスワード</span>
                                <span class="badge bg-danger">必須</span>
                            </div>
                        </label>
                    </div>
                    <div class="col-md-7">
                        <input type="password" th:field="*{password}" class="form-control">
                        <div th:if="${#fields.hasErrors('password')}" class="form-error text-danger small mb-2" th:errors="*{password}"></div>
                    </div>
                </div>

                <!-- パスワード確認 -->
                <div class="form-group row mb-3">
                    <div class="col-md-5">
                        <label class="col-form-label text-md-left fw-bold">
                            <div class="d-flex align-items-center">
                                <span>パスワード確認</span>
                                <span class="badge bg-danger">必須</span>
                            </div>
                        </label>
                    </div>
                    <div class="col-md-7">
                        <input type="password" th:field="*{passwordConfirmation}" class="form-control">
                        <div th:if="${#fields.hasErrors('passwordConfirmation')}" class="form-error text-danger small mb-2" th:errors="*{passwordConfirmation}"></div>
                    </div>
                </div>

                <div class="text-center mt-4">
                    <button type="submit" class="btn haisya-btn">登録</button>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="~{fragment :: scripts}"></div>
</body>
</html>